body{

background-image: url(images/3853138.jpg);
margin: 0px;
padding: 0px;
cursor: pointer;


}

.l{

display: inline-block;
padding-left: 30px;
padding-top: 20px;

}

.m{

display: inline-block;

position: absolute;

margin-top: 65px ;
margin-left: 65px;
margin-right: 65px;
margin-bottom: 0px;


padding-left: 300px;


}


.r{

    position: absolute;
display: inline-block;
color: white;
right: 100px;
margin-top: 71px;
margin-left: 71px;
margin-right: 71px;
margin-bottom: 0px;

font-family: 'Belanosima', sans-serif;
}

#box{

height: 30px;
width: 450px;
border: 2px solid #01a0f4;
border-radius: 20px;
font-size: 20px;

padding-left: 10px;

color: #01a0f4;
font-weight: bold;
font-family: 'Belanosima', sans-serif;

}

.motto{

color: white;
font-family: 'Belanosima', sans-serif;
display: inline-block;
}

#n{

    display: inline-block;
font-size: 115px;
padding-left: 117px;

padding-top: 25px;
padding-bottom: 27px;

}
#o{

    display: inline-block;
font-size: 100px;
padding-left: 150px;
padding-bottom: 27px;


}
#t{

    display: inline-block;
font-size: 60px;
padding-left: 230px;


}

.shoe{


display: inline-block;

position: absolute;

padding-left: 20px;

padding-top: 0px;
}

#sh{

    display: inline-block;
height: 577px;
width: 730px;


}

b:hover{

color: #01a0f4;

}

input:focus{

color: #01a0f4;
font-size: 5px;


font-weight: bold;
font-family: 'Belanosima', sans-serif;
}

.name{

    display: inline-block;
    position: absolute;
    color: white;
    font-family: 'Belanosima', sans-serif;
    
padding-top: 30px;
right: 125px;
    
}

#x{

    display: inline-block;
    font-size: 30px;
    padding-bottom: 10px;
    
    
}

#y{
    display: inline-block;
    font-size: 110px;
    padding-bottom: 10px;
    color: #01a0f4;
    

}
#z{
    display: inline-block;
    font-size: 25px;
    padding-bottom: 10px;
    
}

#j{

    display: inline-block;
color: white;
background-color: #01a0f4;
border-radius: 10px;
font-family: 'Belanosima', sans-serif;
padding-top: 6px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 6px;

font-size: 17px;
font-weight: bold;

right: 50px;



}

.sk{

    display: inline-block;
    position: absolute;
    height: 145px;
    width: 220px;
    padding-right: 110px;
    padding-bottom: 25px;

    padding-top: 35px;
    background-color: #01a0f4;
    border-radius: 20px ;
    border: 2px dotted white;
   padding-left: 20px;
    
}

.jam{


position: absolute;
    color: white;
    padding-left: 195px;

   padding-top: 10px;

   font-family: 'Belanosima', sans-serif;
   font-size: 27px;
  

}

.jam:hover{

    color: #0a0a3e;
}


.ss{
margin-top: 0px;
padding-top: 0px;
    padding-bottom: 160px;
}

.more{


display: inline-block;

float: left;

padding-left: 125px;

}

.amore{


    display: inline-block;
    
    float: left;
    
    padding-left: 567px;
    
    }

    .bmore{


        display: inline-block;
        
        float: left;
        
        padding-left: 1448px;
        
        }

        .cmore{


            display: inline-block;
            
            float: left;
            
            padding-left: 1009px;
            
            }