.f{

    background-image: url(images/3853138.jpg);
    
}

section{


    height: 993px;
   
   
}
body{


    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

#j{

height: 80px;
width: 80px;
padding-left: 20px;
padding-top: 20px;

}

#x{

    color: white;
margin-top: 0px;
text-align: center;
font-size: 20px;

}
