body{

background-image: url(images/3853138.jpg);
margin: 0px;
padding: 0px;
cursor: pointer;


}

.l{

display: inline-block;
padding-left: 30px;
padding-top: 20px;

}

.m{

display: inline-block;

position: absolute;

margin: 65px ;

padding-left: 300px;


}


.r{

    position: absolute;
display: inline-block;
color: white;
right: 100px;
margin: 71px;
font-family: 'Belanosima', sans-serif;
}

#box{

height: 30px;
width: 450px;
border: 2px solid #0cc3ed;
border-radius: 10px;

}

.motto{

color: white;
font-family: 'Belanosima', sans-serif;
display: inline-block;
}

#n{

    display: inline-block;
font-size: 120px;
padding-left: 117px;

padding-top: 40px;
padding-bottom: 25px;

}
#o{

    display: inline-block;
font-size: 100px;
padding-left: 132px;
padding-bottom: 25px;


}
#t{

    display: inline-block;
font-size: 60px;
padding-left: 222px;


}

.shoe{


display: inline-block;

position: absolute;

padding-left: 20px;

padding-top: 0px;
}

#sh{

    display: inline-block;
height: 572px;
width: 730px;

}

b:hover{

color: #0cc3ed;

}

input:focus{

color: #12ace4;
font-size: 18px;

font-weight: bold;
font-family: 'Belanosima', sans-serif;
}

.name{

    display: inline-block;
    position: absolute;
    color: white;
    font-family: 'Belanosima', sans-serif;
    
padding-top: 50px;
right: 125px;
    
}

#x{

    display: inline-block;
    font-size: 30px;
    padding-bottom: 10px;
    
    
}

#y{
    display: inline-block;
    font-size: 110px;
    padding-bottom: 10px;
    color: #0cc3ed;
    

}
#z{
    display: inline-block;
    font-size: 25px;
    padding-bottom: 10px;
    
}